project_id        = "your-gcp-project-id"
region            = "us-east1"
app_name          = "discord-cnayp-bot"
discord_bot_token = "your-discord-bot-token"
discord_guild_id  = "your-discord-guild-id"
github_repo       = "owner/repo-name"
ssh_public_key    = "gcpbot:ssh-ed25519 **** gcpbot"
