aws_region        = "us-east-1"
aws_profile       = "AdministratorAccess-711387133796"
app_name          = "discord-cnayp-bot"
github_repo       = "owner/repo"
discord_bot_token = "your-discord-bot-token"
discord_guild_id  = "your-discord-guild-id"
